/**** R E S E T  start****/
*:where(:not(iframe, canvas, img, svg, video):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
a,
button {
  cursor: revert;
}
ol,
ul,
menu {
  list-style: none;
}
img {
  max-width: 100%;
}
table {
  border-collapse: collapse;
}
textarea {
  white-space: revert;
}
meter {
  -webkit-appearance: revert;
  appearance: revert;
}
::placeholder {
  color: unset;
}
:where([hidden]) {
  display: none;
}
:where([contenteditable]) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
}
:where([draggable="true"]) {
  -webkit-user-drag: element;
}
/**** R E S E T  end****/

body {
 font-family: 'Poppins', sans-serif;  
 /* 400 600 700 */
  font-family: "Open Sans", sans-serif;
  /* 700 */
}

.container{
  padding: 1.5rem;
}
header {
  display: flex;
  flex-direction: column;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul img {
  width: 6rem;
}

li button {
  font-size: 0.6rem;
  font-weight: 400;
  color: hsl(321, 100%, 78%);
  border: 1px solid;
  border-radius: 1rem;
  padding: 0.3rem 1rem;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 1.6rem;
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 1.5rem;
}

header p {
  font-weight: 400;
  text-align: center;
  margin-bottom: 2.5rem;
}

header > button {
  font-size: 0.6rem;
  font-weight: 600;
  color: hsl(0, 0%, 100%);
  background-color: hsl(322, 100%, 66%);
  border-radius: 1rem;
  padding: 0.5rem 2rem;
  align-self: center;
}



main img{
  padding: 1.5em;
}

.grow-together{
  background-color: hsl(207, 100%, 98%);
}
.counts{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.counts img{
  padding: 0rem;
  width: 1.5rem;
  
}

.counts .counting{
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

section{
  text-align: center;
}


section h2{
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

footer{
  background-color: hsl(192, 100%, 9%);
  font-size: 2rem;

  /* keep work here ----*/

}

 
